.Xil/
firmware.bin
firmware.elf
firmware.hex
firmware.map
synth_*.log
synth_*.mmi
synth_*.bit
synth_system.v
table.txt
tab_*/
webtalk.jou
webtalk.log
webtalk_*.jou
webtalk_*.log
xelab.*
xsim.*
xvlog.*
