firmware/firmware.bin
firmware/firmware.elf
firmware/firmware.hex
firmware/firmware.map
testbench.exe
testbench.vcd
tests/*.o
dhrystone/dhry.bin
dhrystone/dhry.elf
dhrystone/dhry.hex
dhrystone/dhry.map
dhrystone/*.d
dhrystone/*.o
fsm_encoding.os
synth_vivado.log
synth_vivado.v
