/spiflash_tb.vcd
/spiflash_tb.vvp
/firmware.elf
/firmware.hex
/firmware.bin
/hx8kdemo.asc
/hx8kdemo.bin
/hx8kdemo.blif
/hx8kdemo.log
/hx8kdemo.rpt
/hx8kdemo_syn.v
/hx8kdemo_syn_tb.vvp
/hx8kdemo_tb.vvp
/testbench.vcd
/cmos.log
