/spiflash_tb.vcd
/spiflash_tb.vvp
/hx8kdemo.asc
/hx8kdemo.bin
/hx8kdemo.blif
/hx8kdemo.log
/hx8kdemo.rpt
/hx8kdemo_syn.v
/hx8kdemo_syn_tb.vvp
/hx8kdemo_tb.vvp
/hx8kdemo_fw.elf
/hx8kdemo_fw.hex
/hx8kdemo_fw.bin
/hx8kdemo_sections.lds
/icebreaker.asc
/icebreaker.bin
/icebreaker.json
/icebreaker.log
/icebreaker.rpt
/icebreaker_syn.v
/icebreaker_syn_tb.vvp
/icebreaker_tb.vvp
/icebreaker_fw.elf
/icebreaker_fw.hex
/icebreaker_fw.bin
/icebreaker_sections.lds
/testbench.vcd
/cmos.log

