
# Pinout for the iCE40-HX8K Breakout Board

set_io clk J3

set_io flash_csb R12
set_io flash_clk R11
set_io flash_io0 P12
set_io flash_io1 P11
set_io flash_io2 T9  # center on J3
set_io flash_io3 P8  # center on J3

set_io ser_tx B12
set_io ser_rx B10

set_io leds[0] B5  # LED0
set_io leds[1] B4  # LED1
set_io leds[2] A2  # LED2
set_io leds[3] A1  # LED3
set_io leds[4] C5  # LED4
set_io leds[5] C4  # LED5
set_io leds[6] B3  # LED6
set_io leds[7] C3  # LED7

